@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

body {
    font-family: 'Poppins', sans-serif;
}

html {
    --scroll-behavior: smooth !important;
    scroll-behavior: smooth !important;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 1.9;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.0);
    transition: 0.4s linear;
    padding: 0px !important;
    z-index: 15;
    background-color: transparent;
}


.leafbutton {
    border-radius: 0px 30px 30px 40px;
}

hr {
    border-color: rgba(196, 196, 196, 0.65);
}

.w-270 {
    width: 270px;
}


@media screen and (min-width :1000px) {
    .lh-96 {
        line-height: 96px !important;
    }

    .lh-81 {
        line-height: 81px !important;
    }

    .lh-33 {
        line-height: 33px !important;
    }
}


/* Footer */

.footer-icons {
    box-shadow: 0px 19px 28px rgba(0, 0, 0, 0.1);
    background-color: #33D1B5;
    border-radius: 50%;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.footer-icons {
    transition: .5s;
}

.footer-icons:hover {
    transform: translateY(-8px);
}

.footer-fb-icons {
    box-shadow: 0px 19px 28px rgba(0, 0, 0, 0.1);
    background-color: #33D1B5;
    border-radius: 50%;
    padding: 10px 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-fb-icons {
    transition: .5s;
}
.footer-fb-icons:hover {
    transform: translateY(-8px);
}

.space-links {
    transition: .3s;
}

.space-links:hover {
    letter-spacing: 1px;
}

.elementor .elementor-background-video-container {
    transition: opacity 1s;
    pointer-events: none;
}
.elementor .elementor-background, .elementor .elementor-background-holder, .elementor .elementor-background-video-container {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    overflow: hidden;
    z-index: 0;
    direction: ltr;
}
.elementor *, .elementor :after, .elementor :before {
    box-sizing: border-box;
}